<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Blockchain Identifier</span>
    </div>
    <input type="number" class="form-control" placeholder="0000" aria-label="Chain ID" aria-describedby="basic-addon1">
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Block Validation Algorithm</span>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Ethash (PoW)</a>
            <a class="dropdown-item" href="#">Clique (PoA)</a>
        </div>
    </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nonce</span>
    </div>
    <input type="number" class="form-control" placeholder="Nonce" aria-label="Nonce" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Timestamp</span>
    </div>
    <input type="number" class="form-control" placeholder="Timestamp" aria-label="Timestamp" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Extradata</span>
    </div>
    <input type="number" class="form-control" placeholder="Extradata" aria-label="Extradata" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Gas limit</span>
    </div>
    <input type="number" class="form-control" placeholder="Gas limit" aria-label="Gas limit" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Difficulty</span>
    </div>
    <input type="number" class="form-control" placeholder="Difficulty" aria-label="Difficulty" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">MixHash</span>
    </div>
    <input type="number" class="form-control" placeholder="MixHash" aria-label="MixHash" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Coinbase</span>
    </div>
    <input type="number" class="form-control" placeholder="Coinbase" aria-label="Coinbase" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Alloc</span>
    </div>
    <input type="number" class="form-control" placeholder="Alloc" aria-label="Alloc" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Number</span>
    </div>
    <input type="number" class="form-control" placeholder="number" aria-label="number" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Gas used</span>
    </div>
    <input type="number" class="form-control" placeholder="Gas used" aria-label="gasUsed" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Parent Hash</span>
    </div>
    <input type="number" class="form-control" placeholder="Parent hash" aria-label="Parent Hash" aria-describedby="basic-addon1">
</div>