<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ethereum</h5>
        <p class="card-text">Create an Ethereum blockchain. Supports PoW and PoA.</p>
        <a routerLink="eth" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hyperledger Fabric</h5>
        <p class="card-text">Create a Hyperledger Fabric blockchain. Coming soon !<p>
        <a routerLink="hlf" class="btn btn-primary disabled">Get started</a>
      </div>
    </div>
  </div>
</div>
</div>
